<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Egor/IdeaProjects/simbirsoftNi">
        <classes>
            <class name="tests.SaucedemoTest">
                <methods>
                    <include name="SuccessfulBuyTest"/>
                    <include name="CheckingErrorMessageTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>